.purdue-gold {
  background-color: #B1946c;
}

.purdue-gold-text {
  color: #B1946c;
}

.purdue-yellow {
  background-color: #b1810b;
}

.purdue-yellow-text {
  color: #b1810b;
}

.waves-effect.waves-gold .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: #B1946c;
}


ul.side-nav.fixed li a {
  color: #B1946c;
  font-size: 1.25rem;
  font-weight: 400;
}

ul.side-nav.fixed li .active {
  background-color: #424242;
}


ul.side-nav.fixed li i {
  font-size:2rem;
  margin-top:0.25rem;
}

/* CSS Fix for nav bar buttons hovering.*/
ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
  background-color: inherit;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
