.purdue-gold {
  background-color: #B1946c !important;
}

.purdue-gold-text {
  color: #B1946c !important;
}

.purdue-yellow {
  background-color: #b1810b;
}

.purdue-yellow-text {
  color: #b1810b;
}

.waves-effect.waves-gold .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: #B1946c;
}

#lablist li div.collection-item {
  min-height: 0px;
}

#lablist li.active div.active{
  background-color: white;
  color:black;
}

#lablist .camstream {
  height:247px;
  width:330px;
  margin: 15px;
}

#lablist .canvas-holder {
  margin-right: 15px;
}

#lablist canvas {
}

#lablist .collapsible-body .material-placeholder {
  display: inline-block;
}


ul.side-nav.fixed li a {
  color: #B1946c;
  font-size: 1.25rem;
  font-weight: 400;
}

ul.side-nav.fixed li .active {
  background-color: #424242;
}


ul.side-nav.fixed li i {
  font-size:2rem;
  margin-top:0.25rem;
}

/* CSS Fix for nav bar buttons hovering.*/
ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
  background-color: inherit;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#refresh {
  float: right;
  top: 11px;
  margin-right: 10px;
}

@media only screen and (min-width: 601px) {
  #refresh {
    top: 14px;
  }
}

a.button-collapse {
  margin-left: 5px;
}

/* Overrides nav's setting*/
#refresh i {
  line-height: 37px;
}

@-webkit-keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotato-potato
{
  -webkit-animation: rotate 1s infinite; /* Safari 4+ */
  -moz-animation:    rotate 1s infinite; /* Fx 5+ */
  -o-animation:      rotate 1s infinite; /* Opera 12+ */
  animation:         rotate 1s infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: linear;
}

input {
  height: 2rem;
}

.form-padding {
  margin-left: 0.75rem;
}

.divider {
  display:none;
}

@media only screen and (min-width: 601px) {
  .divider {
    display: inline;
    width: 1px;
    height:300px;
    margin: 1% 2%;
    padding: 0 !important;
    left: auto;
    right: auto;
  }
}


label[for=reg_passwordconfirm] {
  width:150px;
}

#about {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
