{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main %}
      <div id="about" class="container">
        <h4>About</h4>
        <p class="flow-text" style="font-size:1.5rem">
            As Computer Science students, using the labs in Lawson or in Haas was an essential part of succeeding in many classes. You can bounce ideas off of people for projects or find help in something you may be struggling with. However, sometimes it was difficult to find the labs when they were not completely full. This app will help minimize finding an open lab room or help with a project so students can waste less time finding a free computer during a busy time and more time being successful Purdue Computer Science students. Lab Broadcaster monitors the lab usage for all the computer labs in the Lawson and Haas buildings, showing current user capacities and schedules for the lab rooms. Our application also gives the user a list of users who are looking for help. This impact on Computer Science students will help students be more time efficient and successful at Purdue University.
        </p></br>
        <h4>Created By</h4>
        <ul>
          <li>Nishant Moorthy</li>
          <li>Brian Shrawder</li>
          <li>David Olaves</li>
          <li>Simon Smith</li>
        </ul>
              <h4>Special Thanks To</h4>
        <ul>
          <li>Daniel Trinkle</li>
          <li>Danny Parrott</li>
          <li>Brent Sheets</li>
          <li>Buster Dunsmore</li>
          <li>Alina Nesen</li>
          <li>Stephen Hong</li>
          <li>David Tschida</li>
        </ul>
      </div>

{% endblock %}
