{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
    <a id="refresh" class="btn-floating grey darken-3 z-depth-0">
      <i class="material-icons purdue-gold-text">refresh</i>
    </a>
{% endblock %}
{% block main %}
      <ul id="lablist" class="collection collapsible" data-collapsible="expandable"></ul>
{% endblock %}
{% block javascript%}
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="/static/js/chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
<script>
  var labdata = [
    {name: "Moore Lab", room: "LWSN B146", capacity: 24, current: 0, 
        dataid: "LWSNB146", camid: "lwsnb146", calendar: "1r5tgrb2sln4oe4h4f4gfeece8"},
    {name: "POD Lab", room: "LWSN B148", capacity: 25, current: 0,
        dataid: "LWSNB148", camid: "lwsnb148", calendar: "hd9ldosmo9upm7u5scvq8uumig"},
    {name: "SSLab Lab", room: "LWSN B158", capacity: 24, current: 0, 
        dataid: "LWSNB158", camid: "lwsnb158", calendar: "25m91hh3dpdlcguv5h30i749pg"},
    {name: "B131 Windows Lab", room: "LWSN B131", capacity: 25, current: 0, 
        dataid: "LWSNB131", camid: "lwsnb131", calendar: "isp5jp397bj8et0i5r8g6kd3uo"},
    {name: "B160 Windows Lab", room: "LWSN B160", capacity: 25, current: 0, 
        dataid: "LWSNB160", camid: "lwsnb160", calendar: "bvh903t70gtpvgtl6m8vhl2e1s"},
    {name: "G56 Windows Lab", room: "HAAS G56", capacity: 24, current: 0, 
        dataid: "HAASG56", camid: "haasg056", calendar: "2c8utbns46atet3h1stfpaud88"},
    {name: "Borg Lab", room: "HAAS G40", capacity: 24, current: 0, 
        dataid: "HAASG40", camid: "haasg040", calendar: "jv11mjte5oupheck2kmv36mn2o"},
    {name: "Xinu Lab", room: "HAAS 257", capacity: 21, current: 0, 
        dataid: "HAAS257", camid: "haas257", calendar: "tg56f4t31msvg4o56iuf37luqk"}
   ];

  
function getLabData() {
  var ajaxTime = Date.now();
  $.getJSON( "http://mc15.cs.purdue.edu:5000/status", function( data ) {
    labdata.forEach( function (lab) {
      lab.current = data[lab.dataid];
    });
  })
  .done(function() {
    updateLabview();
  })
  .fail(function() {
    alert("Unable to retrieve lab data.")
  })
  .always(function() {
    // Have our refresh button spin a full rotation.
    setTimeout(function() {
        $("#refresh").removeClass("rotato-potato");
    }, 1000 - (Date.now() - ajaxTime) % 1000);
  });
}

function getLabHistory() {
  var ajaxTime = Date.now();
  $.getJSON( "http://mc15.cs.purdue.edu:5000/status/history", function( data ) {
    var startTime = data['startTime'];
    var endTime = data['endTime'];
    var interval = data['interval'];

    var chartLabel = [];
    for (var i = 0; i <= 4 * 2 + 1; i++) {
      var m = moment.unix(startTime + i * 1800);
      chartLabel.push(m.format('h:mm'));
    }

    labdata.forEach( function (lab) {
      lab.history = data[lab.dataid];
      if (lab.history == null) {
        lab.history = [];
      }
      makeChart(lab, chartLabel);
    });
  })
  .fail(function() {
    alert("Unable to retrieve lab history data.")
  });
}

//What color are you Sibyl, what color am I?
function whatColor(current, capacity) {
  if (current / capacity > 0.75) {
    return "red";
  } else if (current / capacity > 0.4) {
    return "orange";
  } else {
    return "green";
  }
}


  var labmarkup = '<li>' +
                    '<div class="collapsible-header collection-item avatar">' +
                      '<i class="material-icons circle ${whatColor(current, capacity)}">computer</i>' +
                      '<span class="title">${name}</span>' +
                      '<p>${room}<br>' +
                      '</p>' +
                      '<div class="secondary-content"><a style="margin-right: 75px;" target="_blank" href="https://calendar.google.com/calendar/embed?showTitle=0&showCalendars=0&mode=WEEK&width=600&height=600&wkst=1&bgcolor=%23FFFFFF&src=${calendar}@group.calendar.google.com&color=%23528800&ctz=America/New_York"><i style="margin-top:-7px;" class="material-icons circle">date_range</i></a><a href="#!" class="black-text ">${current}/${capacity}</a></div>' +
                    '</div>' +
                    '<div class="collapsible-body">' + 
                      '<div class="row">' +
                      '<div class="col m3"><img class="col m12 materialboxed camstream" data-camid="${camid}"' + 
                        'src="http://${camid}-cam.cs.purdue.edu/axis-cgi/jpg/image.cgi"> </div>' + 
                        '<div class="col m6 push-m3"><canvas id="chart-${dataid}" dataid="${dataid}"></canvas></div></br></br>' +
                      '</div>' +
                    '</div>' +
                  '</li>';

  $.template( "labtemplate", labmarkup );

  function makeChart(lab, label) {
        var chart = new Chart($("#chart-" + lab.dataid), {
        type: 'line',
        data: {labels: label, 
        datasets: [{
                    label: "",
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "#B1946c",
                    borderColor: "#B1946c",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "#B1946c",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "#B1946c",
                    pointHoverBorderColor: "#B1946c",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: lab.history,
                }
            ]},
        options: {
          scales: {
              yAxes: [{
                  display: true,
                  ticks: {
                      suggestedMax: 25,
                      stepSize: 5,
                      beginAtZero: true   // minimum value will be 0.
                  }
              }]
          },
          legend: {
                  display: false
          }
        }
    });

  }

  // Credit to http://davidtschida.com/ for finding this trick with the camera streams!
  function refreshCamStream(cam) {
    cam.attr("src", "http://" + cam.attr("data-camid") + "-cam.cs.purdue.edu/axis-cgi/jpg/image.cgi?" + Date.now());
  }


  function updateLabview() {
    $("#lablist").empty();
    $.tmpl("labtemplate", labdata).appendTo("#lablist");

    //As atm our stuff is dynamically added in, we have to initialize some things.
    $('.collapsible').collapsible({
      accordion : false
    });

    $('.materialboxed').materialbox();

    // If we have the tab opened, we refresh the camera stream.
    $(".camstream").bind("load", function() {
      if ($(this).parent().parents(".active").length) {
        refreshCamStream($(this));
      }
    });

    $(".collapsible-header").bind("click", function() {
      refreshCamStream($(this).parent().find(".camstream"));
    });

    getLabHistory();
  }

  
  $("#refresh").bind("click", function() {
    $("#refresh").addClass("rotato-potato");
    getLabData();
  });


  $(document).ready(function(){
    $.template( "labtemplate", labmarkup );
    updateLabview();
    getLabData();
  });

</script>
{% endblock%}
