<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Welcome{% endblock %} | Lab Broadcast</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    <link type="texe/css" rel="stylesheet" href="static/css/layout.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="purdue-gold">
      <ul id="slide-out" class="side-nav fixed grey darken-4">
        <li><h4>Purdue Lab Broadcast</h4></li>
        <li><a class="waves-effect waves-gold {% if request.path == '/' %}active{% endif %}" href="/">
          <i class="material-icons left">dns</i>Labs
        </a></li>
        <li><a class="waves-effect waves-gold {% if request.path == '/login' %}active{% endif %}" href="/login">
          <i class="material-icons left">account_box</i>Login
        </a></li>
        <li><a class="waves-effect waves-gold {% if request.path == '/about' %}active{% endif %}" href="/about">
          <i class="material-icons left">group</i>About
        </a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Team Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project for CS490 at Purdue University.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="purdue-gold-text text-lighten-3" href="http://cs.purdue.edu">a CS 490 Group</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript">

      // Initialize collapse button
      $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
